[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "libraries/TinyGPSPlus"]
	path = libraries/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
[submodule "libraries/AltSoftSerial"]
	path = libraries/AltSoftSerial
	url = https://github.com/PaulStoffregen/AltSoftSerial.git
